.container2-md-12{
    background: gray;
    border:4px solid blue;
    padding: 100px;
}

.container-whole-md-12{
    background-color:gray;
}


.container-md-12{
    height:170px;
    width:auto;
    background-image: url("Images/sun.png");
    align-items: center;
    justify-content: center;
    display:flex;
}

.header-one{
    color:white;
    font-size: 50px;
    border:2px solid white;
    border-radius:25px;
    width:500px;
}
.item{
    border:2px solid red;
    width: 150px;
    height: 60px;
}
.p{
    border:10px solid ghostwhite;
    border-radius:15px;
    font-family: 'Times New Roman', Times, serif;
    font-size:25px;
}

